body{
    margin: 0px;
    padding: 0px;
}

.grid-containter {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
}
    
.header { 
    grid-area: 1 / 1 / 2 / 6; 
    border-bottom: 1px solid #000;
}
.food-menu {
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 1 / 6 / 4; 
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.receipt-area { 
    grid-area: 2 / 4 / 6 / 6; 
}

.receipt{ 
    width: 68.5%;
    min-height: auto;
    margin: 20px auto 0px;
    border: 1px solid #000;
    border-radius: 10px;
    min-width: 240px;
}

.receipt-table{
    margin: 0px auto 0px;
}

.food-menu > div {
    border: 1px solid #000;
    border-radius: 5px;
    height: 250px;
    width: 200px;
    margin: 20px;
    
}

#foodName{
    margin-top: 10px;
}

.food-menu > div > button {
    background-color: orange;
    border: 0px;
    width: 80px;
    height: 40px;
    margin: 0px 60px 0px;
    border-radius: 5px;
    margin-top: auto;
    cursor: pointer;
}

.food-menu > div > img {
    height: 100px;
    width: 90%;
    object-fit: contain;
}

.food-menu > div > button:hover {
    background-color: orangered;
}

#total-price{
    margin: 2%;
}

th{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 50px;
}

th:first-child{
    width: 20%;
}
th:nth-child(2){
    width: 50%;
}
th:last-child{
    width: 10%;
}

td{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;  
    height: 30px;
}

td:first-child{
    width: 20%;
}
td:nth-child(2){
    width: 60%;
}
td:last-child{
    width: 20%;
}

tr > button{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 0px;
    height: 33px;
}

tr > button:hover{
    background-color: rgb(200, 0, 0);
    cursor: pointer;    
}

.receipt > button{
    height: 40px;
    width: 30%;
    color: white;
    background-color: rgb(0, 150, 0);
    border: 0px;
    border-radius: 5px;
    margin: 10px 35% 10px;
}

.receipt > button:hover{
    background-color: rgb(0, 100, 0);
    cursor: pointer;
}
